.navbar{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 0.5rem 2rem;
    background-color: #020202;
}

/* .navbar h2 a {
    font-size: 35px;
    opacity: 1;
} */

/* .navbar h2 a:hover {
    color: #ED184A;
} */

.navbar ul {
    margin: 0.2rem;
    display: flex;
    gap: 1rem;
}

.new-btn{
    /* font-weight: bold; */
    /* border: 1px solid #FFF; */
    font-size: 25px;
    padding: .5rem 1rem;
    border-radius: 1rem;
    opacity: 1;
}

.new-btn:hover{
    /* font-weight: bold; */
    /* border: 1px solid #ED184A; */
    /* border: 1px solid #ED184A; */
    /* color: #036AB7; */
    color: #ED184A;
    padding: .5rem 1rem;
    border-radius: 1rem;
    transition: 1s;
    opacity: 1;
}