@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    /* font-family: "Blinker"; */
}

body {
    font-family: 'Bebas Neue';
    background-color: #020202;
    color: rgb(0, 0, 0);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: #FFF;
    opacity: 0.7;
    transition: .3s;
}

a:hover{
    opacity: 1;
}

p{
    color: #ffffff;
}

.bigbox{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background-position: center; */
}


